.App {
  margin-top: 0px;
  padding-top: 20px;
  padding-right: 50px;
  padding-left: 50px;
  text-align: center;
  background-color: #e7e7eb;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.notification {
  width: 150px;
  height: 80px;
  margin-right: 10px;
  margin-left: auto;
}

.register-investor {
  padding-bottom: 5%;
}